<section class="phil">
	<div class="container phil__container">
		<h2 class="phil__title phil__title-h2">Философия работы с крупными клиентами</h2>
		<p class="phil__text">
			Часто при внедрении крупных решений, от начала работы до конечного результата проходят годы и конечный
			продукт может потерять свою актуальность в связи с изменениями, которые произошли в бизнес-процессах
			компании и на рынке в целом. Чтобы избежать подобной ситуации и актуализировать систему на протяжении всего
			процесса разработки решения, мы придерживаемся своей стратегии ведения проекта. В начале мы создаем MVP с
			функционалом, который закрывает базовые и срочные потребности клиента. Разработка дополнительных итераций
			осуществляется с учетом новых потребностей клиента и пользовательского опыта сотрудников.
		</p>
		<h2 class="phil__title phil__title-h2">
			Согласно стратегии процесс сотрудничества проходит в несколько этапов:
		</h2>
		<h3 class="phil__title phil__title-h3">1. Предпроектный анализ задач.</h3>
		<p class="phil__text">
			На этом этапе мы выясняем потребности клиента, обсуждаем процесс работы и желаемый результат, чтобы
			подготовить коммерческое предложение — сориентировать клиента по вилочной стоимости всего проекта и цене
			проведения его полного аудита.
		</p>
		<h3 class="phil__title phil__title-h3">2. Встреча перед подписанием контракта.</h3>
		<p class="phil__text">
			Мы хотим заслужить доверие клиента, поэтому мы предлагаем ему познакомиться перед официальным оформлением
			сотрудничества. Личная встреча перед подписанием контракта не обязательна, но желательна, потому что это
			отличная возможность узнать друг друга лучше и детально обсудить все вопросы сотрудничества.
		</p>
		<h3 class="phil__title phil__title-h3">3. Подписание контракта.</h3>
		<p class="phil__text">
			Сначала мы предоставляем все необходимые документы и проходим проверку службы безопасности клиента, при
			необходимости подписываем NDA. В договоре мы прописываем цену проведения аудита и разработки технического
			задания на систему, после подписания документов, мы приступаем к работе.
		</p>
		<h3 class="phil__title phil__title-h3">4. Проведение аудита и составление технического задания.</h3>
		<p class="phil__text">
			Для сбора информации о функционале, в котором нуждаются сотрудники, мы просим клиента создать рабочую группу
			внедрения из представителей каждого подразделения компании. Мы используем эти данные для составления ТЗ. На
			аудите мы оцениваем проект, определяем задачи разработки и сроки внедрения, составляем план ведения проекта,
			объясняем клиенту, кто участвует в работе с нашей стороны.
		</p>
		<h3 class="phil__title phil__title-h3">5. Защита технического задания.</h3>
		<p class="phil__text">
			Мы проводим презентацию ТЗ перед клиентом, показываем прототипы проекта и объясняем их принципы работы,
			оговариваем, что входит в MVP продукта и конечную версию проекта. После того, как клиент утверждает проект,
			мы подписываем приложение договора, в котором указано, что будет входить в разработку MVP проекта и
			следующих итераций.
		</p>
		<h3 class="phil__title phil__title-h3">6. Разработка проекта MVP.</h3>
		<p class="phil__text">
			MVP — это самая ранняя версия продукта. Мы разрабатываем и внедряем ее, чтобы компания оперативно приступила
			к работе с базовыми и критически необходимыми функциями системы.
		</p>
		<h3 class="phil__title phil__title-h3">7. Сдача проекта MVP.</h3>
		<p class="phil__text">
			Мы презентуем проект перед оперативной группой внедрения, утверждаем этапы ввода MVP в компанию, проводим
			тестовые пуски, собираем обратную связь с сотрудников и при необходимости вносим изменения в систему.
		</p>
		<h3 class="phil__title phil__title-h3">8. Обучение сотрудников клиента.</h3>
		<p class="phil__text">
			Мы записываем видео, где даем подробные инструкции по использованию функционала решения. По желанию клиента
			можем приехать в офис и провести обучение оффлайн.
		</p>
		<h3 class="phil__title phil__title-h3">9. Ввод системы в промышленную эксплуатацию.</h3>
		<p class="phil__text">
			Мы запускаем MVP во всех отделах компании и начинаем сопровождение системы. При возникновении проблем в
			функционировании MVP, техподдержка LUCKRU оперативно подключается для разрешения всех вопросов. Когда
			сотрудники клиента начинают работать в системе, мы формируем вишлисты. В них участники группы внедрения
			записывают предложения по введению новых функций для работы разных подразделений компании. Эти пожелания мы
			учитываем при разработке следующих итераций системы.
		</p>
		<h3 class="phil__title phil__title-h3">10. Работа со следующими итерациями.</h3>
		<p class="phil__text">
			После разработки итерации, мы презентуем ее перед оперативной группой внедрения, проводим тестовые пуски,
			обучаем сотрудников использованию дополнительных функций и допускаем сотрудников к работе с обновленной
			системой.
		</p>
		<h4 class="phil__title phil__title-h4">
			Этот подход позволяет внедрять цифровые решения в разных сферах бизнеса в компаниях численностью от ста
			человек до нескольких десятков тысяч сотрудников. Если вас интересует проект на 1C-Битрикс24 или 1C-Битрикс,
			свяжитесь с нами!
		</h4>
	</div>
</section>
